{% extends 'base.html.twig' %}

{% block title %}Rejestracja użytkownika{% endblock %}

{% block body %}
    <h1>Rejestracja użytkownika</h1>
    {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

    {{ form_start(registrationForm) }}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_row(registrationForm.firstName) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_row(registrationForm.secondName) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            {{ form_row(registrationForm.email) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_row(registrationForm.plainPassword.first) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_row(registrationForm.plainPassword.second) }}
        </div>
    </div>
    <button class="btn btn-primary mt-3">Zarejestruj</button>
    {{ form_end(registrationForm) }}
{% endblock %}
