{% extends 'base.html.twig' %}

{% block body %}

    {% if user %}
        <h2>{{ user.firstName }} {{ user.secondName }}</h2>
    {% endif %}
    <hr>

    <div class="container">
        <h4 class="text-center">Dodaj nadgodziny</h4>
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        <div class="form-row justify-content-center">
            <div class="form-group col-md-2 text-center">
                {{ form_row(form.date) }}
            </div>
            <div class="form-group col-md-3 text-center">
                {{ form_row(form.amount) }}
            </div>
            <div class="form-group col-md-3 text-center">
                {{ form_row(form.description) }}
            </div>
            <div class="col-md-2 text-center">
                <button class="btn btn-primary mt-4" type="submit">Zapisz</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <hr>
    <div class="container">
        {% if overtimes %}

            <table id="overtimes" class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Data dodania</th>
                    <th>Data nadgodzin</th>
                    <th>Opis</th>
                    <th>Ilość dodana</th>
                    <th>Suma godzin</th>
                </tr>
                </thead>
                <tbody>
                {% for overtime in overtimes %}
                    <tr>
                        <td>{{ overtime.addDate|date('Y-m-d H:i') }}</td>
                        <td>{{ overtime.date|date('Y-m-d') }}</td>
                        <td>{{ overtime.description }}</td>
                        <td>{{ overtime.amount }}</td>
                        <td>{{ overtime.hours }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="alert alert-info" role="alert">
                Nie znalazłem żadnych zapisanych nadgodzin
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

