{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div class="container">
        {% if usersData %}

            <table id="users" class="table table-striped">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Godziny</th>
                </tr>
                </thead>
                <tbody>
                {% for userData in usersData %}
                    <tr>
                        <td>{{ userData[0].email }}</td>
                        <td>{{ userData[0].roles|join(', ') }}</td>
                        {% if userData[1] is not null %}
                            <td>{{ userData[1].hours }}</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="alert alert-info" role="alert">
                Nie znalazłem żadnych użytkowników
            </div>
        {% endif %}
    </div>

{% endblock %}

